.section-event-log-content-bottom-left {
    width: 100%;
    justify-content: space-between;
    padding-right: 0px;
    gap: 10px;
}

.section-event-log-content-bottom-left > div {
    height: 100%;
}

.section-event-log-content-bottom-left-block {
    width: fit-content !important;
    height: 100%;
    padding-top: 0px;
    position: relative;
    border: none;
}

.contact-container .section-event-log-top-part:nth-of-type(2) {
    border-left: none;
}

.gradient-scroll , .gradient-scroll-right {
    display: none;
}

.section-event-log-content-bottom-left-block-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-5);
    top: 0;
}

.contact-head_left > div > button {
    padding: 9px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    color: #808080;
    border: 1px solid var(--color-1);
    border-radius: 8px;
    background: transparent;
}

.contact-head_left > div > button > p {
    color: var(--color-4);    
}

.contactPopup_user p {
    width: 190px;
}

.contactPopup-tool_select {
    padding: 16px 30px;
    border-bottom: 1px solid var(--color-1);
}

.section-event-log-content-popup {
    top: 102.5px;
}

.contactPopup_tool-main > div > div.blockExit-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 30px;
}

.blockExit-block {
    display: flex;
    flex-direction: column;
}

.contactPopup_tool-mainOpen {
    flex-direction: column;
}

.gateway-block {
    display: flex;
    flex-direction: column;
}

.contactPopup_tool-main > div > div.gateway-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 30px;
    min-height: 48px;
}

.gateway-item > p , .gateway-item-item p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    color: #808080;
}

.gateway-item-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.gateway-item > div a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: right;
    color: #203F9A;    
}

.gateway-item input {
    width: 100% !important;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    padding: 10px 15px;    
}

.gateway-item-item > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectRadius {
    z-index: 99999;
}

.selectRadius {
    border: 1px solid var(--color-24);
}

.selectRadius > div {
    width: calc(100% + 1.6px);
    border-radius: 0px 0px 8px 8px;
    left: -0.8px;
}



.gateway-item .select {
    padding: 5px 15px;
}

.contactPopup_tool-main input[type = 'text'] {
    padding: 8px 15px;
}

.select p {
    color: var(--color-5);
}

.selectRadius > p {
    color: var(--color-5);
}

.mainifocontact-tool2 {
    display: flex;
    flex-direction: column;
    background: #fff ;
}

.maininfocontact-tool2-select {
    background: var(--color-2);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border-bottom: 1px solid #EBEBEB;
}

.contactPopup_tool-main > div > div.maininfocontact-tool2-select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border-bottom: 1px solid var(--color-1);
    justify-content: flex-start;
}

.maininfocontact-tool2-select h3 {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    line-height: 24.7px;
    text-align: left;
    color: var(--color-9);    
}

.gateway-block > .gateway-item:nth-child(2n) {
    background: var(--color-30);
}
.contactPopup_tool-main > div > div {
    /* background: unset; */
    padding: 0px;
}

.maininfocontact-tool2-main .gateway-item {
    background: var(--color-2);
}

.contactPopup_tool-main > div > div.mainifocontact-tool2 {
    padding: 0px;
    align-items: flex-start;
}

.maininfocontact-tool2-select {
    width: 100%;
}

.maininfocontact-tool2-select3 {
    justify-content: space-between;
}

.maininfocontact-tool2-select3 > div:first-of-type {
    display: flex;
    gap: 10px;
    align-items: center;
}

.maininfocontact-tool2-main {
    width: 100%;
    display: none;
}

.toolinfoBlock-open .maininfocontact-tool2-main {
    display: flex;
}

.toolinfoBlock-open .maininfocontact-tool2-select img , .toolinfoBlock-open .maininfocontact-tool2-select svg {
    transform: rotate(90deg);
}

.gateway-block {
    width: 100%;
}

.maininfocontact-tool2-main .gateway-item {
    min-height: 48px;
    max-height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 30px;
    align-items: center;
}

.gateway-block h4 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #202020;    
}

.toolinfoBlock-open .maininfocontact-tool2-main2 {
    padding: 20px 30px;
}

.chanelsRight .checkbox {
    width: fit-content;
}

.chanelsRight {
    width: 100%;
    display: none;
    flex-direction: column;
}

.chanelsRightActive {
    display: flex;
}

.passwordForRegister {
    width: 100%;
    position: relative;
}

.passwordForRegister svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}

.taphoneBtnsBlock > div > svg rect  {
    stroke: var(--color-21);
}

.seePasswordActive path {
    stroke: var(--color-21);
}

.gateway-block textarea {
    width: 100%;
}

.sms-textarealast {
    width: 100%;
    padding: 15px 30px;
}

.gateway-block input::placeholder , .gateway-block textarea::placeholder {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #808080;    
}

.gateway-block form button {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    background: var(--color-21);    
}

.sms-gateway-block .gateway-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.section-event-log-content-popup {
    height: calc(100% - 165px);
}

.gateway-item-for-disable {
    position: relative;
}

.gateway-item-for-disable .forDisable {
    width: fit-content !important;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin: unset;
    display: none;
}

.select-dropdown {
    max-height: 200px;
    overflow-y: auto;
}

.trunkPriority {
    color: var(--color-21);
}

.chanelTrunk_tools-main > div > div {
    padding: 5px 30px;
    height: 48px;
}

.chanelTrunk_tools_main > div {
    align-items: flex-start;
    grid-template-columns: 0.1fr 1fr 1fr;
}

.chanelTrunk_tools_main1 > div {
    align-items: flex-start;
    grid-template-columns: 0.1fr 1fr 1fr 1.5fr 1fr;
}

.chanelTrunk_tools-main .list-contactTable p {
    justify-self: start;
}

.chanelTrunk_tools-main > div > div:nth-of-type(2n) {
    background: var(--color-30);
}

.gateway-item , .ui-state-default {
    transition: .2s;
}

.gateway-block .gateway-item:hover , .ui-state-default:hover {
    background: var(--color-1) !important;
}

.event-log-top-part-modal-mobile {
    display: none;
    position: relative;
    padding-left: 12px;
    border-left: 1px solid var(--color-1);
}

.event-log-top-part-modal-block {
    display: none;
    flex-direction: column;
    background: var(--color-2);
    border-radius: 8px;
    border: 1px solid var(--color-1);
    position: absolute;
    z-index: 999;
    top: calc(100% + 16px);
    left: 0;
}

.event-log-top-part-modal-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-bottom: 1px solid var(--color-1);
}

.event-log-top-part-modal-item:last-of-type {
    border-bottom: none;
}

.event-log-top-part-modal-btn {
    cursor: pointer;
}


@media screen and (max-width:1300px) {
    .section-event-log-top-btns .section-event-log-top-part {
        display: none;
    }

    .event-log-top-part-modal-mobile {
        display: flex;
    }

    .event-log-top-part-modal-open {
        display: flex;
    }
}