@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
	font-family: 'Roboto' !important;
}

.contact_header-middle {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 10px 14px;
	padding: 14px 40px;

}

.contact_header-middle h1 {
	font-size: 34px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: var(--color-4);
}

.contact-head_left h4 {
	font-size: 12px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #808080;
}

.contact-head_left {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}

.contact-head_left > div {
	display: flex;
	gap: 30px;
	align-items: center;
}

.header-container-lk-text {
	gap: 2px;
}

.contact-head_left > div > div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-head_left > div label {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #808080;
}

.contact_header-middle .header-container-lk {
	position: relative;
	justify-self: flex-end;
}

.header-container-lk {
	border-left: none;
}

.userStatus {
	min-width: 174px;
	position: absolute;
	top: calc(100% + 10px);
	padding: 15px 40px 20px 15px;
	border: 1px solid var(--color-24);
	background: var(--color-2);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 11111111111111111;
	display: none;
}

.statusOption {
	display: flex;
	align-items: center;
	gap: 7px;
	cursor: pointer;
}

.statusOption p {
	font-size: 15px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--color-9);
}

.activeStatus {
	opacity: 0.2;
}

.lk-check {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 7px;
	right: 20px;
	cursor: pointer;
}

.contact-container .section-event-log-top-part {
	padding-right: unset;
	border-right: 1px solid var(--color-20);
	border-left: 1px solid var(--color-20);
	gap: 10px;
	padding: 0px 10px;
}


.contact-container .btn-filter {
	border: 1px solid var(--color-1);
	border-radius: 8px;
	height: unset;
	padding: 10px 15px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background: transparent;
}

.contact-container .section-event-log-top-btn-modal {
	gap: 15px;
	flex-wrap: nowrap;
}

.section-event-log-top-left {
	width: 100%;
	flex-wrap: nowrap;
}



.tableScroll th, .tableScroll td {
	border: none;
} 

.contact-container > thead > tr th::after {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 31px;
    margin: auto 0;
    background-color: var(--color-20);
}

.section-event-log-top {
	border-bottom: none;
	gap: 30px;
}
._light .section-event-log-top {
	border-bottom: 1px solid var(--color-1);
	border-top: 1px solid var(--color-1);
}


table .table-tr {
	background: var(--color-2) ;
}


.colors tbody tr:nth-child(2n + 1) {
	background: var(--color-25);
}	
	
.highlight {
	background: var(--color-27) !important;
}

.contact-container {
	background: var(--color-15);

}



.contact-table_block {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: var(--color-15);
}
.contact-table_top {
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.3fr 1fr 1fr 1fr 1fr;
    padding: 15px 20px;
	border-bottom: 1px solid #DADADA;
	padding-left: 50px;
	align-items: center;
}

.contact-table_top > div {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 1px solid #DADADA;
}

.contact-table_top span::after {
	width: 1px;
	height: 100%;
	background: #DADADA;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.contact-table_top > div > span::after {
	display: none;
}

.contact-table_top > span:last-child::after {
	display: none;
}
 
.contact-table_top span {
	padding-left: 15px;
	position: relative;
	font-size: 19px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #808080;
}

.contact-table_top label span {
	padding-left: 5px;
}

.contact-table_top label span::after {
	background: transparent;
}


.custom-checkbox svg {
	position: absolute;
	bottom: -5px;
	left: 8px;
}

.header-container-lk-img img {
	width: 56px;
	height: 56px;
}

.contact-table_top > div input {
	top: 0;
	left: 0;
	position: absolute;
	appearance: none;
	width: 24px;
	height: 24px;
}

.contact-table_body {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.contact-table_body > div {
	width: 100%;
    display: grid;
	align-items: center;
    grid-template-columns: 0.7fr 1fr 1.3fr 1fr 1fr 1fr 1fr;
    padding: 15px 20px;
	padding-left: 50px;

}

.contact-table_body > div > div {
	position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 1px solid #DADADA;
}


.contact-table_body p {
	padding-left: 15px;
	position: relative;
	font-size: 19px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--color-9);
}

.contact-table_body p::after {
	width: 1px;
	height: 100%;
	background: #DADADA;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.contact-table_body > span:last-child::after {
    display: none;
}

.contact-bottom {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	padding-left: 0px;
	border-top: 1px solid var(--color-1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	background: var(--color-15);
}

.contact-bottom-counterparties {
	justify-content: flex-end;
}


.contact-bottom > div {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
}

.contact-bottom_left {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--color-9);
}

.gradient-scroll {
	left: 0;
}

.contact-bottom_left input {
	max-width: 53px;
	height: 42px;
	border-radius: 8px;
	border: 1px solid #DADADA;
	background: transparent;
	color: var(--color-9);
	text-align: center;
}

.contact-bottom_left button {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--color-9);
	padding: 10px 15px;
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid #DADADA;
}

.contact-table_body > div:nth-child(2n + 1) {
	background: var(--color-17);
}

.contact-container .section-event-log-top-btns {
	gap: 10px;
	flex-wrap: nowrap;
}

.contact-container .section-event-log-top-part:last-of-type {
	padding-left: 0px;
	border-left: none;
}

.section-event-log-top-search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-event-log-top-search form {
	position: relative;
	width: 100%;
	height: 100%;
}

.section-event-log-top-search input {
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	border: 1px solid var(--color-1);
	outline: none;
	border-radius: 8px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	background: transparent;
	color: var(--color-4);	
}

.section-event-log-top-search input::placeholder {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	color: var(--color-4);	
}

.section-event-log-top-search button {
	background: transparent;
	border: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.section-event-log-top-search-open {
	display: none;
}


.toggle-switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 28px;
	cursor: pointer;
  }
  
  .toggle-switch input[type="checkbox"] {
	display: none;
  }
  
  .toggle-switch-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 20px;
	box-shadow: inset 0 0 0 2px var(--color-24);
	transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-switch-handle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	width: 20px;
	height: 20px;
	background-color: var(--color-24);
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
  }
  
  .toggle-switch::before {
	content: "";
	position: absolute;
	top: -25px;
	right: -35px;
	font-size: 12px;
	font-weight: bold;
	/* color: #aaa; */
	text-shadow: 1px 1px #fff;
	transition: color 0.3s ease-in-out;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
	transform: translateX(45px);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
	border: 2px solid var(--color-21);
	box-shadow: 0 0 0 transparent;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
	content: "On";
	color: #05c46b;
	right: -15px;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
	transform:  translateY(-50%) translateX(16px);
	background-color: var(--color-21);

  }
  

  .contact_header-list {
	padding: 10px 14px;
	padding-left: 50px;
	display: none;
	width: 100%;
	border-bottom: 1px solid var(--color-1);
	flex-direction: column;
	gap: 20px;
	background: var(--color-2);
  }

.contact_header-list > div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.contact_header-list > div div {
	display: flex;
	align-items: center;
}

.contact_header-list h3 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 19.5px;
	text-align: left;	
	color: var(--color-9);
}

.nameList {
	width: 366px;
	border-radius: 8px;
	padding: 10px 15px;
	border: 1px solid var(--color-1);
	background: transparent;
}
.nameList::placeholder {
	color: var(--color-9);
}

.contact_header-list label {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	color: var(--color-9);
}

.contactList-middle {
	display: flex;
	gap: 15px;
}

.contactList-middle > div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.contactList-middle .checkbox span {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
}

.listFilters {
	font-size: 15px;
	font-weight: 500;
	border-radius: 60px;
	color: #808080;
	border: 1px solid var(--color-22);
	padding: 10px 12px;
	background: transparent;
}

.listFilters-active {
	background: var(--color-22);
	color: var(--color-21);
}

.listFilters-submit {
	background: var(--color-21);
	border-radius: 10px;
	padding: 3px 5px;
}

.listFilters-submit svg rect {
	fill: var(--color-21);
}

.contact-container {
	/* height: calc(100vh - 191.4px); */
	overflow-y: auto;
}

.section-event-log-content {
	padding-top: 0px;
	overflow: hidden;
}

.contactPopup_top {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--color-2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-1);
	padding: 20px 30px;
}

.section-event-log-content-popup-content {
	padding-top: 65.5px;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.contactPopup-top_left {
	display: flex;
	align-items: center;
	gap: 10px;
}
.contactPopup-top_left > div {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-left: 10px;
	border-left: 1px solid #DADADA;
}

.contactPopup-top_left label {
	font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #808080;
}

.section-event-log-content-popup-content-scroll {
	padding: unset;
}

.contactPopup_top p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: right;
	color: var(--color-5);
	display: flex;
	align-items: center;
	gap: 10px;	
	cursor: pointer;
}

.contactPopup_user {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	border-bottom: 1px solid var(--color-1);
	padding: 10px 30px;
	gap: 10px;
}


.air-datepicker {
	--adp-background-color: var(--color-2);
	border: transparent;
	--adp-color: var(--color-16);
	--adp-day-name-color: var(--color-4);
	--adp-cell-background-color-selected: var(--color-26);
	--adp-cell-background-color-selected-hover: var(--color-26);
	--adp-accent-color: ;
	--adp-border-color-inner: var(--color-12);
}

.air-datepicker--pointer:after {
	background: var(--color-2);
	border: transparent;
}

.contactPopup_user p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 24.7px;
	text-align: left;
	color: #808080;
}

.contactPopup_user input::placeholder {
	font-style: italic;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 24.7px;
	color: #808080;
}

.contactPopup_user input {
	width: 100%;
	height: 100%;
	font-style: italic;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: 400;
	color: #808080;
	padding: 10px 15px;
	border: 1px solid #DADADA;
	border-radius: 8px;
	background: transparent;
	color: var(--color-8);
}

/*  */



.contactPopup_tools {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 20px 30px; */
}

.contactPopup-tool_select {
	width: 100%;
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background: var(--color-17);
	/* cursor: pointer; */
}

.toolArrow {
	transform: rotate(0deg);
	transition: .2s;
}

.toolArrowOpen {
	transform: rotate(180deg);
}

.collapseArrow {
	transform: rotate(180deg);
	transition: .2s;
}

.collapseArrowOpen {
	transform: rotate(360deg);
}

.contactPopup-tool_select h3 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 28.6px;	
}

.contactPopup_tool-main {
	display: none;
	width: 100%;
	transition: .5s;
}

.contactPopup_tool-main input {
	cursor: pointer;
}

.contactPopup_tool-mainOpen {
	display: flex;
}

.contactPopup-tool_select > div {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/*  */


.contactPopup_tool-main-top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.contactPopup_tool-main span {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	color: #808080;
}

.contactPopup_tool-main input[type = 'text'] {
	width: 420px;
	padding: 10px 15px;
	border: 1px solid var(--color-24);
	border-radius: 8px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background: var(--color-2);
	color: var(--color-9);
	font-size: 15px;
}

.contactPopup_tool-main input[type = 'text']::placeholder {
	color: var(--color-9);
}

.contactPopup_tool-main > div {
	width: 100%;
}

.contactPopup_tool-main label {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	color: var(--color-9);	
}

.ourOrganization input {
	width: 16px;
	height: 16px;
}

.ourOrganization {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contactPopup_tool-main > div > div {
	padding: 5px 30px;
	align-items: center;
	justify-content: center;
	background: var(--color-17);
	position: relative;
}


.contactPopup_tool-middle {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: unset;
	justify-content: unset;
	background: var(--color-2);
}

.contactPopup_tool-main > div > div:nth-child(2n + 1) {
	background: var(--color-2);
}

.contactPopup_tool-middle > div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.contactPopup_tool-middle input[type = 'text'] {
	width: 240px;
}

textarea {
	width: 100% !important;
	border-radius: 10px;
	min-height: 120px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding: 15px 20px;
	color: var(--color-9);
	background: transparent;
	font-size: 15px;
	border: 1px solid var(--color-24);
	background: var(--color-2);
}

@media screen and (max-width:1450px) {
	.contact-table_top span , .contact-table_body p {
		font-size: 14px;
	}
	.contact-table_top, .contact-table_body > div {
		grid-template-columns: repeat(7,1fr);
	}
}


.list-contactTable {
	display: flex;
	flex-direction: column;
}

.list-contactTable > div {
	display: grid;
	grid-template-columns: 0.2fr 1.8fr 1fr 1fr 1fr;
	gap: 10px;
}

.list-contactTable span {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 15px;
	font-weight: 400;
}

.list-contactTable p {
	display: flex;
	align-items: center;
	justify-self: center;
	font-size: 15px;
}

.list-contactTable p svg {
	margin-left: -20px;
}


.list-contactTable input {
	width: 100% !important;
}

.list-contactTable .inputLastof {
	width: calc(100% - 10px) !important;
}

.list-contactTable select {
	padding: 5px;
	border-radius: 8px;
	border: 1px solid var(--color-24);
	font-size: 15px;
	color: var(--color-5);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background: transparent;
}


.removeListContact {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.list-contactTable-Location > div {
	grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr 1.2fr 1.2fr;
}

.list-contactTable-Location select {
	width: 100%;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.list-contactTable-Event select {
    width: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select-arrow {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.numOfList , .numOfList2 {
	color: var(--color-9);
}

.list-contactTable-Event > div {
	grid-template-columns: 1fr 1fr 3fr;
}

.arrow {
	cursor: grab;
}

.draggable {
    cursor: grab;
    user-select: none; 
}

.dragging {
	opacity: 0.5;
}

.list-contactTable-document > div {
	grid-template-columns: 0.2fr 0.9fr 0.9fr 2fr ;
}

.list-contactTable-Participant > div {
	grid-template-columns: 1.1fr 1fr 3fr;
}

.listObl-cont {
	position: relative;
}

.listObl-cont p , .listAdd-dropdown p {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 19.5px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding: 10px 20px;
	color: var(--color-4);
}

.list-obligation_dropdown , .listAdd-dropdown {
	width: 318px;
	max-height: 327px;
	position: absolute;
	z-index: 111;
	right: -75px;
	top: 100%;
	overflow-y: auto;
	padding: 10px 0px;
	border: 1px solid var(--color-24);
	background: var(--color-23);
	border-radius: 8px;
	display: none;
	flex-direction: column;
	gap: 5px;
}

.contact-container {
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}

.section-event-log-content-popup-content-open {
	top: 0px !important;
}

.active .accordion-text::after {
	content: url('data:image/svg+xml,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.00098 4.31369L10.2048 0L12.001 1.84316L6.00098 8L0.000976563 1.84316L1.79718 0L6.00098 4.31369Z" fill="%23FF9900"/></svg>');
}

.active > .accordion-text {
	color: var(--color-9);
}

.listObl-cont2 .list-obligation_dropdown {
	right: 0;
}

.listAdd-dropdown {
	right: 15px;
}

.list-obligation_dropdownOpen , .listAdd-dropdownOpen {
	display: flex;
}

.contact-table_block {
	overflow-y: auto;
}

.contact_header-list-filter {
	display: none;
}

.contact_header-list > h1 , .closeContactlist {
	display: none;
}

.toolArrow path {
	fill: #FF9900;
}

._light .toolArrow path {
	fill: var(--color-21);
}


body .lk-dark , ._light .lk-light {
	display: block;
}

body .lk-light , ._light .lk-dark  {
	display: none;
}

.section-event-log-top-line {
	background: var(--color-2);
	color: var(--color-4);
	font-size: 17px;
	font-weight: 400;
	line-height: 22.1px;
	text-align: center;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	justify-content: center;
	padding: 3px;
	border-bottom: 1px solid var(--color-1);
	user-select: none;
	
}

.section-event-log-top-line-error {
	background:	linear-gradient(90deg, #FFFFFF 17.74%, #FF8C8C 34.04%, #FF0000 49.78%, #FF8C8C 68.19%, #FFFFFF 86.73%);
	color: #fff;
}

header {
	background: var(--color-2);
}

.header-logo {
	padding: 24px 0px;
	width: 100%;
	min-width: 100%;
	border-bottom: 1px solid var(--color-1);
	border-right: none;
}

.header-logo img {
	width: calc(288px - 24px - 24px);
}

.list-obligation_dropdown, .listAdd-dropdown {
	z-index: 111111;
}


.header-container {
	height: fit-content;
}


/* .checkbox input:checked + span::before{
	border: 2px solid var(--color-21);
} */
.checkbox span::after {
	background: var(--color-21);
}

.select {
	width: 100%;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid var(--color-24);
	background: var(--color-2);
	font-size: 15px;
	color: var(--color-5);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	position: relative;
	cursor: pointer;
}

.selectRadius {
	border-radius: 8px 8px 0px 0px;
	border-bottom: none;
	border: none;
}

.selectRadius > p {
	color: var(--color-4);
}

.selectRadius > div {
	display: flex;
	/* border-top: none; */
	border-radius: 8px;
	border: 1px solid var(--color-24);
}



.filterDropDowns {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--color-28);
	z-index: 99999;
	display: none !important;
}

.filterDropDowns2 {
	height: 100%;
}

#filterDropDowns3 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #161E321A;
	z-index: 99999;
}


.filterDropDownsOpen , .filterDOpen {
	display: flex !important;
}

.section-event-log-content-popup-content-open.forFilter-popup-back {
	background: var(--color-29);
}

.section-event-log-content-popup-content-open.forFilterBack {
	background: var(--color-29);
}

.select-dropdown {
	width: calc(100% + 1.5px);
	display: none;
	position: absolute;
	top: calc(100% - 1px);
	left: -1px;
	flex-direction: column;
	background: var(--color-3);
	border-radius: 0px 0px 8px 8px;
	border: 1px solid var(--color-24);
	padding: 15px 15px 20px 15px;
	gap: 20px;
	z-index: 100000000;
}

.section-event-log-content-popup {
	height: calc(100% - 150px);
	z-index: 1000000;
}



.dropdown-content {
	overflow-y: auto !important;
	top: 101%;
}

.select-dropdown-open{
	display: flex;
	border-top: none;
}

.popup-content-resize {
	z-index: 1111;
}

.tableScroll > tbody > tr > td, #table > tbody > tr > td {
	vertical-align: middle;
	padding: 18px 10px;
	padding-left: 25px;
}

thead .table-tr .table-source , thead .table-tr .table-organization {
	width: 200px;
}

tbody tr td {
	border: none;
}

.section-actions {
	padding: 20px 20px 20px 50px;
}

thead .table-id .checkbox span {
	white-space: nowrap;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #909090;
}

.table-id {
	max-width: 85px !important;
}

.table-id label {
	position: unset;
	width: unset;
}

table .checkbox {
	width: fit-content;
}

.table-id svg {
	margin-right: unset;
}

.table-id .tableIdPhoto {
	position: absolute;
	top: 80%;
	left: 31px;
}

.forTableIdPopUp {
	position: relative;
}

.table-id-block {
	padding-bottom: 15px;
	min-width: 341px;
	display: none;
	flex-direction: column;
	border-radius: 8px;
	border: 1px solid var(--color-24);
	background: var(--color-2);
	position: absolute;
	top: 66px;
	left: 30px;
	z-index: 111;
}
/* 
.table-id-block .custom-checkbox > span {
	color: #808080 !important;
} */

.table-id-block p {
	font-size: 17px;
	color: var(--color-21);
	font-weight: 400;
	cursor: pointer;
}

.table-id-block .checkbox {
	padding: 15px 16px;
	border-bottom: 1px solid var(--color-24);
}

.table-id-block > div:last-of-type {
	padding: 15px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.table-fullName {
	width: 266px;
}

.forContactListActive {
	color: var(--color-21) !important;
}

.contactPopup_user input:first-of-type {
	font-style: italic;
	font-weight: bold;
	font-size: 19px;
}


.disabled .checkbox input:checked + span::after {
	background: #C0C0C0;
}

.disabled .checkbox input:checked + span::before {
	border-color: #C0C0C0;
}

.contactPopup_tool-main > div > div {
	user-select: none;
}
.contactPopup_tool-main > div > div:first-of-type {
	padding: 10px 30px;
	z-index: 1111;
}

.ui-state-default {
	border: none !important;
}

/* .tableScroll {
	min-width: 100% !important;
} */

.table-block {
	max-width: 100%;
}

.btn-menu-open {
	top: 1px !important;
}

table .checkbox span {
	padding-left: 52px;
}

.infoContactOrg {
	width: 71%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}

.infoContactOurOrg {
	position: relative;
	display: flex;
	align-items: center;
}


.forDisable {
	display: none;
	width: 18px;
	height: 18px;
	position: absolute;
	left: -27.5px;
	border: 2px solid #DADADA;
	border-radius: 5px;
	transition: all 0.2s ease 0s;
	pointer-events: all !important;
}

.header-container {
	border-bottom: none;
}

.section-event-log-container {
	max-width: 100% !important;
}

.left-menu-link-block:first-of-type {
	border-top: 1px solid var(--color-1);
}

.tableScroll > thead > tr > th, #table > thead > tr > th {
	padding: 18px 25px !important;
}

#filterRemove {
	margin-left: 0px;
}

.left-menu .accordion {
	padding: 18px 0px;
}

.left-menu .accordion {
	
	min-width: calc(288px - 40px);
}

.left-menu-link {
	padding: 0px 20px;
}


.section-event-log-navigation {
	padding-right: 50px;
}


.mainCloseSelect .listAddAll {
	display: none !important;
}


.scrollHidden {
	overflow-y: hidden !important;
}

.section-event-log-content-popup {
	top: 90px;
}

.contact-bottom {
	z-index: 1111111;
	background: var(--color-30);
}

.contact-container {
	overflow: hidden;
}

/* .table-block::-webkit-scrollbar-thumb, .table-block::-webkit-scrollbar {
	display: none;
} */

@media screen and (max-width:1700px) {
	.contact-table_top span , .contact-table_body p {
		font-size: 17px;
	}
}

@media screen and (min-width:1681px) {
	.table-id .tableIdPhoto {
		left: 56px;
	}

	.lk-check {
		right: 45px;
	}
	
	.custom-checkbox svg {
		left: 9px;
	}
	.table-id-block {
		left: 40px;
	}
}

@media screen and (max-width: 1680px) {
	.contact-table_body > div , .contact-table_top , .contact_header-list{
		padding-left: 40px;
	}

	.section-actions {
		padding: 20px 20px 20px 25px;
	}

	.tableScroll > tbody > tr > td:first-child, #table > tbody > tr > td:first-child , .tableScroll > thead > tr > th:first-child, #table > thead > tr > th:first-child {
		padding-left: 40px !important;
	}

	.section-event-log-top {
		padding-left: 40px;
	}
	.table-id .tableIdPhoto {
		left: 46px;
	}
}

@media screen and (max-width:1600px) {
	.contact-table_top span , .contact-table_body p {
		font-size: 15px;
	}
}

@media screen and (max-width:1560px) {
	.tableScroll > tbody > tr > td, #table > tbody > tr > td {
		padding: 18px 15px;
	}
	
.tableScroll > thead > tr > th, #table > thead > tr > th {
	padding: 18px 15px !important;
}
}

@media screen and (max-width:1500px) {
	.table-id  {
		max-width: 155px;
	}
	
}

@media screen and (max-width:1470px) {
	.table-fullName  {
		width: 300px;
	}
	.table-organization {
		width: 230px;
	}
}

@media screen and (max-width:1460px) {
	.contact-table_body p {
		font-size: 14px;
	}
	.contact-table_top, .contact-table_body > div {
		grid-template-columns: 0.6fr 1fr 1.3fr 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width:1360px) {
	.contact-table_body p {
		font-size: 12px;
	}
}

@media screen and (max-width:1300px) {
	.contact_header-middle {
		width: 100%;
	}
	.contact_header-list-filter {
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 10;
		left: 0;
		top: 0;
		background: #161E321A;
	}
	.contact_header-list {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 752px;
		padding: 20px 30px;
		border-radius: 20px;
		z-index: 11;
	}
	.contact_header-list .btn-filter {
		width: 158px;
	}
	.contact_header-list h3 {
		width: 114px;
	}
	.nameList {
		width: 397px;
	}

	.contact_header-list > h1 {
		display: block;
		color: var(--color-9);
		font-family: Roboto;
		font-size: 24px;
		font-weight: 500;
		line-height: 31.2px;
		text-align: left;
	}

	.closeContactlist {
		position: absolute;
		top: 20px;
		right: 30px;
		display: block;
	}
	.logo-mob {
		display: none;
	}
	.hamburger-menu {
		position: absolute;
		top: 12px;
		left: -1px;
	}
	.contact_header-middle {
		padding-left: 14px;
	}
	.section-event-log-top-line {
		padding: 10px 0px;
	}
	.menu__btn {
		left: 15px;
		height: fit-content;
	}

	body._error .menu__box {
		top: 45px;
		height: calc(100% - 45px);
	}

	.section-event-log-top {
		padding-left: 14px;
	}
	.tableScroll > tbody > tr > td:first-child, #table > tbody > tr > td:first-child, .tableScroll > thead > tr > th:first-child, #table > thead > tr > th:first-child {
		padding-left: 14px !important;
	}
	.table-id .tableIdPhoto {
		left: 21px;
	}
	.table-id-block {
		left: 5px;
	}
}
