
.counterparties-content {
	padding-top: 0;
}

.counterpartiesPopup_user p {
    color: #808080;
}

.counterpartiesPopup_user {
    gap: 40px;
}

.counterpartiesPopup_user input {
    width: 100%;
    font-size: 19px;
    color: #202020;
    font-weight: bolder;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
}

.counterpartiesPopup_tool-middle select {
    width: 200px;
    height: 37.6px;
    padding: 5px;
	border-radius: 8px;
	border: 1px solid #808080;
	font-size: 15px;
	color: var(--color-5);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: transparent;
}

.contactPopup_tool-main > div > h2 {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    line-height: 22.1px;
    text-align: left;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    background: var(--color-2);
}

.counterpartiesPopup_tool-middleFull {
    grid-template-columns: 1fr;
}

.counterparties_tool-middle-part > input {
    width: 100% !important;
    max-width: 654px;
}

.counterpartiesPopup_tool-middle select {
    width: 240px;
}

.countlist-contactTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.countlist-contactTable > div {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 10px;
}

.countlist-contactTable input {
    width: 100% !important;
}

.selectWb {
    border: none;
    background: none;
    color: var(--color-9);
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.list-countTable-document > div {
	grid-template-columns: 0.2fr 1fr 1fr 0.7fr 0.7fr 2.6fr ;
}

