.table-text {
	font-weight: 400;
	font-size: 19px;
	line-height: 140%;
	color: var(--color-4);
}
.table-module {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 324px;
}
.table-module span {
	width: calc(100% - 74px);
	min-width: min-content;
}
.table-module img {
	width: 40px;
	height: auto;
	object-fit: contain;
	object-position: center;
}
.colors tbody tr:nth-child(2n + 1) {
	background: #2c2c2c;
	position: relative;
}

.colors tbody tr:nth-child(2n + 1) td:first-child::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #353535;
}
.colors tbody tr:nth-child(2n + 1) td:first-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #353535;
}
body._light .colors tbody tr:nth-child(2n + 1) {
	background: #f7f8f8;
	position: relative;
}
body._light .colors tbody tr:nth-child(2n + 1) td:first-child::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
}
body._light .colors tbody tr:nth-child(2n + 1) td:first-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
}
.module__list {
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px 35px;
}
.module__item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.module__item span:first-child {
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	color: var(--color-16);
	margin-bottom: 2px;
}

.module__item span:last-child {
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #909090;
}
.module-resources {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 30px;
}
.module-resources__title {
	width: 100%;
	text-align: left;
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
	color: var(--color-16);
}
.graphic {
	width: 46px;
	min-width: 46px;
	margin-right: 15px;
}
.graphic svg {
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: center;
}
body._light .graphic rect {
	fill: #ffffff;
	stroke: #e1e1e1;
}
body._light .graphic path {
	stroke: #203f9a;
}
.module-resources__items {
	margin-top: 15px;
	width: calc(100% + 100px);
	margin-left: -50px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--color-3);
}
.module-resources__item {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1.4fr 1fr;
	padding: 0 50px;
	align-items: stretch;
}
.module-resources__item:nth-child(2n + 1) {
	background: var(--color-17);
	border-bottom: 1px solid var(--color-1);
	border-top: 1px solid var(--color-1);
}
.module-resources__content {
	padding: 15px 10px;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-4);
}
.module-resources__content span {
	width: 100%;
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	color: inherit;
	text-align: left;
}
@property --percentage {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

[role='progressbar'] {
	--percentage: var(--value);
	--primary: var(--color-5);
	--secondary: #555555;
	--size: 46px;
	animation: progress 2s 0.5s forwards;
	width: var(--size);
	min-width: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	margin-right: 15px;
}
body._light [role='progressbar'] {
	--secondary: #e1e1e1;
}
[role='progressbar']::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: conic-gradient(
		var(--primary) calc(var(--percentage) * 1%),
		var(--secondary) 0
	);
	mask: radial-gradient(white 55%, transparent 0);
	mask-mode: alpha;
	-webkit-mask: radial-gradient(#0000 55%, #000 0);
	-webkit-mask-mode: alpha;
}

[role='progressbar']::after {
	counter-reset: percentage var(--value);
	content: counter(percentage) '%';
	font-weight: 400;
	font-size: 12px;
	color: var(--color-4);
}
._color-orange {
	color: var(--color-5) !important;
}
.moduleSwitching__buttons {
	padding: 18px 50px;
	z-index: 30;
	background-color: var(--color-2);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, minmax(120px, 1fr));
	gap: 14px;
	margin-top: auto;
}
.module-resources__buttons {
	padding: 18px 50px;
	z-index: 30;
	background-color: var(--color-2);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(120px, 1fr));
	gap: 14px;
	margin-top: auto;
	padding-top: 20px;
}
.module-resources__buttons._oneBtn {
	grid-template-columns: 1fr;
}
.moduleLine-resources__buttons {
	padding: 18px 50px;
	z-index: 30;
	background-color: var(--color-2);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, minmax(120px, 1fr));
	gap: 14px;
	margin-top: auto;
}
.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	transition: all 0.2s ease 0s;
}
.module-resources__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	text-align: center;
	border-radius: 10px;
	font-weight: 500;
	font-size: 17px;
	line-height: 120%;
	text-align: center;
	color: #ffffff;
	background: var(--color-5);
	height: 51px;
}
.module-resources__btn:disabled {
	background: #363636;
	color: #909090;
	pointer-events: none;
}
body._light .module-resources__btn:disabled {
	background: #ebebeb;
	color: #202020;
}
.module-resources__btn span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: inherit;
	color: inherit;
	font-size: inherit;
	z-index: 10;
}
.resources__download-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #203f9a;
}
body._light .resources__download-progress {
	background-color: #f90;
}
.module-resources__btn.module-resources__btn-border {
	border: 2px solid var(--color-5);
	color: var(--color-5);
	background-color: transparent;
}
.module-resources__btn.module-resources__btn-border:disabled {
	color: #909090;
	border: 2px solid #363636;
	pointer-events: none;
}
body._light .module-resources__btn.module-resources__btn-border:disabled {
	border: 2px solid #ebebeb;
	color: #202020;
}
.module-resources__file {
	width: 100%;
	display: none;
	justify-content: center;
	align-items: stretch;
	padding: 0 50px 16px 50px;
}
#updateSoftwareBtn {
	overflow: visible;
}
#updateSoftwareBtn._active::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -6px;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	background-color: var(--color-5);
	transform: rotate(45deg);
}
.module-resources__file._show {
	display: flex;
}
.module-resources__file-path {
	flex: 1 1 auto;
	background: #2c2c2c;
	border: 1px solid #353535;
	border-radius: 8px 0 0 8px;
	padding: 16px 20px;
	font-weight: 400;
	font-size: 17px;
	line-height: 120%;
	color: #c0c0c0;
}

body._light .module-resources__file-path {
	background: #f7f8f8;
	border: 1px solid #ebebeb;
	color: #606060;
}
.module-resources__file label {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.module-resources__file label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.module-resources__file label span {
	border-radius: 0 8px 8px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 17px 14px 17px;
	background-color: #ff9900;
	font-weight: 500;
	font-size: 17px;
	line-height: 120%;
	color: #ffffff;
}
.module-resources__file label span::before {
	content: '';
	width: 22px;
	height: 20px;
	margin-right: 11px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../../img/folder.svg);
}
.powerUnit__card {
	width: 100%;
	border-radius: 10px;
	background: #2c2c2c;
	padding: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 30px 0;
}
body._light .powerUnit__card {
	background: #e4f1ff;
}
.powerUnit__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.powerUnit__row:last-child {
	margin-bottom: 0;
}
.powerUnit__row p {
	width: calc(100% - 90px);
	text-align: left;
	font-weight: 400;
	font-size: 19px;
	line-height: 140%;
	color: var(--color-4);
}
.powerUnit__row span {
	width: 87px;
	text-align: right;
	font-weight: 500;
	font-size: 19px;
	line-height: 140%;
	color: var(--color-5);
}
.btn-border {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: auto;
	border: 2px solid var(--color-5);
	border-radius: 10px;
	height: 51px;
	font-weight: 500;
	font-size: 17px;
	line-height: 120%;
	text-align: center;
	color: var(--color-5);
}
