.moduleLine__container {
	width: auto;
	position: relative;
	padding-right: 91px;
	margin-top: 30px;
	z-index: 20;
}
.moduleLine__table {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	background: var(--color-3);
	border: 1px solid var(--color-1);
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}
.moduleLine__name {
	position: absolute;
	width: 91px;
	top: 0;
	right: -91px;
	bottom: 0;
	text-align: right;
	margin: auto 0;
	height: fit-content;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	color: #909090;
}
.moduleLine__row {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 1px solid var(--color-1);
	position: relative;
}
.moduleLine__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 14px 10px 11px 10px;
	min-width: 64px;
	position: relative;
}
.moduleLine__item._active {
	background: var(--color-19);
}
.moduleLine__item img {
	width: 34px;
	height: 26px;
	margin-bottom: 5px;
}
.moduleLine__item span {
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color: var(--color-4);
}

.moduleLine__item__info {
	position: absolute;
	top: 100%;
	left: 0;
	width: 333px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 20px;
	border-radius: 0 10px 10px 10px;
	background: var(--color-19);
	display: none;
	z-index: 10;

	span {
		width: 100%;
		text-align: left;
		font-weight: 400;
		font-size: 17px;
		line-height: 130%;
		color: var(--color-4);
		margin-bottom: 14px;
	}
	a {
		margin: 0 auto;
		font-weight: 400;
		font-size: 17px;
		line-height: 130%;
		text-align: center;
		color: var(--color-5);
	}
}
.moduleLine__item._active .moduleLine__item__info {
	display: flex;
}
.moduleLine__item__info._bottom {
	top: auto;
	bottom: 100%;
	border-radius: 10px 10px 10px 0;
}
.moduleLine__item__info._right {
	left: auto;
	right: 0;
	border-radius: 10px 0 10px 10px;
}
.moduleLine__item__info._right._bottom {
	border-radius: 10px 10px 0 10px;
}
.section-event-log-content-popup-content-scroll.line-modules {
	min-width: 800px;
}

@media screen and (max-width: 1300px) {
	.section-event-log-content-popup-content,
	.section-event-log-content-popup {
		width: 100%;
		max-width: 100%;
	}
	.section-event-log-content-popup-content-scroll.line-modules {
		min-width: 100%;
		width: 100%;
	}
	.moduleLine__container {
		padding-right: 405px;
	}
	.moduleLine__row,
	.moduleLine__item {
		position: static;
	}
	.moduleLine__item__info {
		width: 255px;
		left: auto !important;
		right: 0 !important;
		top: 0 !important;
		bottom: auto !important;
		height: fit-content;
		border-radius: 10px !important;
	}
	.moduleLine__name {
		position: relative;
		right: 0;
		margin-left: auto;
		width: 0;
		white-space: nowrap;
		transform: translateX(20px);
	}
}
