table.dataTable thead th[data-is-resizable='true'],
.table-tracing {
	white-space: nowrap;
	font-weight: 400;
	font-size: 19px;
	line-height: 140%;
	color: #909090;
	background: transparent !important;
}
.table-double {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 25px;
}
.table-double-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.table-double-item p {
	width: 100%;
	text-align: left;
	white-space: nowrap;
	font-weight: 400;
	font-size: 19px;
	line-height: 120%;
	color: var(--color-4);
	margin-bottom: 2px;
}
.table-double-item span {
	width: 100%;
	text-align: left;
	white-space: nowrap;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	color: #909090;
}
._red {
	color: #e30a17 !important;
}
._orange {
	color: #f90 !important;
}
.tracing__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0 12px 0;
}
.tracing__header > span {
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
	color: var(--color-4);
	text-align: left;
}
.tracing__tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.tracing__tabs span {
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	color: #909090;
}
.tracing__tabs button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #353535;
	border-radius: 6px;
	width: 40px;
	height: 40px;
	background: #2a2a2a;
}
.tracing__tabs button._active {
	background: #363636;
}
body._light .tracing__tabs button {
	background: #ffffff;
	border: 1px solid #d6dade;
}
body._light .tracing__tabs button._active {
	background: #e4f1ff;
}
.tracing__tabs button svg {
	width: 22px;
	height: 22px;
}
.tracing__tabs button svg path {
	fill: var(--color-5);
}
.tracing__content {
	width: 100%;
	margin-top: 15px;
	min-height: 233px;
	display: none;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.tracing__content._show {
	display: flex;
}
.tracing__connection__cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	gap: 45px;
}
.tracing__connection__card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 22px 11px 16px 11px;
	background: var(--color-3);
	border-radius: 10px;
	transition: all 0.2s ease 0s;
	border: 1px solid var(--color-1);
	cursor: pointer;
}
.tracing__connection__card:hover {
	background-color: #363636;
}
body._light .tracing__connection__card._blue:hover {
	background-color: #e4f1ff;
}
body._light .tracing__connection__card._green:hover {
	background-color: #f0ffcf;
}
body._light .tracing__connection__card._red:hover {
	background-color: #fff2f1;
}
.tracing__connection__card img {
	width: 46px;
	height: 46px;
	margin-bottom: 14px;
}
.tracing__connection__card span {
	width: 100%;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	text-align: center;
	color: var(--color-4);
	margin-bottom: 5px;
}
.tracing__connection__card p {
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	text-align: center;
	color: #909090;
}

.popup {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8 ease 0s;
	z-index: 40;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	opacity: 1;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup__content {
	width: 100%;
	max-width: 353px;
	padding: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	opacity: 0;
	background: #363636;
	border-radius: 10px;
	color: var(--color-4);
}
body._light .popup__content {
	background-color: #ffffff;
}
.close__popup {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
	outline: none;
}
.close__popup::after,
.close__popup::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #909090;
	margin: auto;
}
.close__popup::after {
	transform: rotate(-45deg);
}
.close__popup::before {
	transform: rotate(45deg);
}
.popup__name {
	width: 100%;
	text-align: left;
	margin-bottom: 6px;
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
}
.popup__name._blue {
	color: #386ed7;
}
.popup__name._red {
	color: #e30a17;
}
.popup__name._green {
	color: #79c200;
}
.popup__code {
	width: 100%;
	text-align: left;
	font-weight: 500;
	font-size: 19px;
	line-height: 130%;
	margin-bottom: 10px;
}
.popup__text {
	width: 100%;
	text-align: left;
	margin-top: 14px;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	color: #909090;
}
.popup__text span {
	color: var(--color-4);
}
.tracing__connection__informations {
	width: 100%;
	padding: 0 calc((100% - 135px) / 8);
	display: grid;
	grid-template-columns: repeat(3, 33.33333%);
}
.tracing__connection__informations-items {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 30px 20px;
	height: fit-content;
	border-left: 2px dashed var(--color-20);
	position: relative;
}
.tracing__connection__informations-items::before {
	content: '';
	position: absolute;
	left: -5px;
	bottom: 0;
	width: 8px;
	height: 16px;
	border-top: 2px solid var(--color-20);
	background-color: var(--color-2);
}
.tracing__connection__informations-items:nth-child(2) {
	padding-top: 50px;
}
.tracing__connection__informations-items:nth-child(3) {
	padding-top: 100px;
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items:nth-child(1) {
	padding-top: 100px;
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items:nth-child(2) {
	padding-top: 50px;
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items:nth-child(3) {
	padding-top: 0;
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items {
	border-left: none;
	border-right: 2px dashed var(--color-20);
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items:first-child {
	border-left: 2px dashed var(--color-20);
}
.tracing__connection__informations-items:nth-child(3) {
	border-right: 2px dashed var(--color-20);
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items::before {
	right: -5px;
	left: auto;
	bottom: 0;
}
.tracing__connection__informations:last-child
	.tracing__connection__informations-items:first-child:after {
	content: '';
	position: absolute;
	left: -5px;
	bottom: 0;
	width: 8px;
	height: 16px;
	border-top: 2px solid var(--color-20);
	background-color: var(--color-2);
}
.tracing__connection__cards:nth-child(3)::before {
	content: '';
	position: absolute;
	top: 0;
	right: calc((100% - 135px) / 8);
	width: 2px;
	height: 100%;
	border-right: 2px dashed var(--color-20);
}
.tracing__connection__information {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 24px;
	padding-bottom: 11px;
	position: relative;
}
.tracing__connection__information::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 4px;
	width: calc(100% - 8px);
	height: 2px;
	background-color: #a0a0a0;
}
.tracing__connection__information::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #a0a0a0;
}
.tracing__connection__information._arrow-right::after {
	right: 0;
}
.tracing__connection__information._arrow-left::after {
	transform: rotate(180deg);
	left: 0;
}
.tracing__connection__information._arrow-left::before {
	left: auto;
	right: 0;
}
.tracing__connection__information:last-child {
	margin-bottom: 0;
}
.tracing__connection__information__name {
	width: 100%;
	text-align: left;
	font-weight: 600;
	font-size: 15px;
	line-height: 130%;
	color: var(--color-4);
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
	white-space: nowrap;
}
.tracing__connection__information._arrow-left
	.tracing__connection__information__name {
	text-align: right;
}
.tracing__connection__information__invite {
	width: 100%;
	text-align: left;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 2px;
	color: #a0a0a0;
	white-space: nowrap;
}
.tracing__connection__information._arrow-left
	.tracing__connection__information__invite {
	text-align: right;
}
.tracing__connection__information__code {
	width: 100%;
	text-align: left;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #909090;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tracing__connection__information._arrow-left
	.tracing__connection__information__code {
	text-align: right;
}
.tracing__connection__information._blue
	.tracing__connection__information__invite {
	color: #386ed7;
}
.tracing__connection__information._green
	.tracing__connection__information__invite {
	color: #79c200;
}
.tracing__connection__information._red
	.tracing__connection__information__invite {
	color: #e30a17;
}
.tracing__connection__information._blue::before {
	background: #386ed7;
}
.tracing__connection__information._green::before {
	background: #79c200;
}
.tracing__connection__information._red::before {
	background: #e30a17;
}
.tracing__connection__information._blue::after {
	border-color: transparent transparent transparent #386ed7;
}
.tracing__connection__information._green::after {
	border-color: transparent transparent transparent #79c200;
}
.tracing__connection__information._red::after {
	border-color: transparent transparent transparent #e30a17;
}
